<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css"
/>
    <title>Job Scrapper</title>
</head>
<body>
    <main class="container">
        <br>
        <h1 class="pico-color-azure-500">Hello there !<br>
            Please enter the job keyword you want 🧚🏻‍♂️
        </h1>
        <h3>If it have a lot of searches, it can take a lot of time.
            <br>So don't leave the page. 🩶
        </h3>
        <br>
    
        <form action="/search">
            <input type="text" name="keyword" placeholder="enter here !!" />
            <button class="outline contrast">🫧🫧🫧</button>
        </form>
    </main>
</body>
</html>