<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
    <title>Search '{{keyword}}' Result</title>
</head>
<body>
    <main class="container">
        <h1>Total {{count}} '{{keyword}}' searches 🧚🏻‍♂️</h1><br>
        <figure>
            <table role="grid" class="striped">
                <thead>
                    <tr>
                        <th>Company</th>
                        <th>Title</th>
                        <th>URL</th>
                    </tr>
                </thead>
                <tbody>
                    {% for job in jobs %}
                    <tr>
                        <td>{{job.company_name}}</td>
                        <td>{{job.title}}</td>
                        <td><a href="{{job.url}}" target="_blank">Apply &rarr;</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </figure>
    </main>
</body>
</html>